
//color scheme
$color-bacground: #A8A7A7;
$pink: #E8175D;
$light-pink: #CC527A;
$font-color: #363636;
$light-gray : #474747;

@mixin border-radius($x) {
	border-radius: $x;
	-moz-border-radius: $x;
	-webkit-border-radius: $x;
}

//basic styles

body {
	font-family: 'Lato', sans-serif;
	color: $font-color;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h1,h2,h3 {
	font-weight: 700;
	line-height: 1.1 em;
}

h1 {
	font-size: 32px;
}

h2,h3 {
	font-size:24px;
}

a {
	text-decoration: none;
	color: #e8175d;
	&:hover {
		opacity: 0.8;
	}
}

.clearfix {
	clear: both;
}

//grid

.size-1140 {
	.line {
		margin: 0 auto;
		max-width: 1140px;
		padding: 0 20px;
		overflow: hidden;
	}
}

.s-12, .l-1, .l-2, .l-five, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
  float:left;
  position:relative;
}

.l-offset-1 {margin-left:8.3333%;}
.l-offset-2 {margin-left:16.6666%;}
.l-offset-five {margin-left:16.6666%;}
.l-offset-3 {margin-left:25%;}
.l-offset-4 {margin-left:33.3333%;}
.l-offset-5 {margin-left:41.6666%;}
.l-offset-6 {margin-left:50%;}
.l-offset-7 {margin-left:58.3333%;}
.l-offset-8 {margin-left:66.6666%;}
.l-offset-9 {margin-left:75%;}
.l-offset-10 {margin-left:83.3333%;}
.l-offset-11 {margin-left:91.6666%;}
.l-offset-12 {margin-left:100%;} 

.l-1 {width:8.3333%;}
.l-2 {width:16.6666%;}
.l-five {width:20%;}
.l-3 {width:25%;}
.l-4 {width:33.3333%;}
.l-5 {width:41.6666%;}
.l-6 {width:50%;}
.l-7 {width:58.3333%;}
.l-8 {width:66.6666%;}
.l-9 {width:75%;}
.l-10 {width:83.3333%;}
.l-11 {width:91.6666%;}
.l-12 {width:100%;}

.l-6{
	padding: 0 20px;
	box-sizing: border-box;
}

@media screen and (max-width:768px) {
	.size-1140 {max-width:768px;}
	.l-offset-7,
	.l-offset-1 {margin-left:0;}
	.s-12, .l-1, .l-2, .l-five, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
	  width: 100%;
	}
}


@media screen and (max-width:480px) {
	.size-1140 {max-width:480px;}
}

//header

header {
	height: 70px;
	.logo {
		text-transform: uppercase;
		font-weight: 700;
		float: left;
		img {
			margin-top: 6px;
			width: 70px;
			height: auto;
			vertical-align: middle;
		}
	}
	.lang-select {
		float: right;
		display: inline-block; 
		a {
			padding: 15px 5px 5px 0px;
			display: inline-block;
		}
	}
}

//stager

.stager {
	padding: 80px 0;
	background: url('/img/camels-stager.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	h1 {
		color: $pink;
	}
	p {
		font-size: 20px;
		line-height: 1.1 em;
	}
}

//form
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: $light-gray;
  border-radius: 25px;
  border: 0px solid #000101;
   &:active {
  	 box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
  }
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: $pink;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $light-gray;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: $light-gray;
  border-radius: 25px;
  border: 0px solid #000101;
  &:focus {
  	 box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
  }
}
input[type=range]::-moz-range-thumb {
 box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: $pink;;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $light-gray;
  border: 0px solid #000101;
  border-radius: 50px;
   &:active {
  	 box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
  }
}
input[type=range]::-ms-fill-upper {
  background: $light-gray;
  border: 0px solid #000101;
  border-radius: 50px;
   &:active {
  	 box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
  }
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: $pink;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $light-gray;
}
input[type=range]:focus::-ms-fill-upper {
  background: $light-gray;
}

output {
color: $pink;
margin-right: 20px;
font-weight:700;
}


//checkboxes
input[type="radio"] {
    display:none;
}

label {
    display:inline-block;
    width: 20%;
    margin-right: 4%;
    background-color:$light-gray;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	@include border-radius(3px);
	overflow: hidden;
}

input[type="radio"]:checked + label {
    background-color:$pink;;
}



//sections

.sectionone {
	padding: 80px 0 0 0;
}

.sectiontwo {
	padding: 80px 0 0px 0;
}

.sectionthree{
	padding: 80px 0 80px 0;
	label {
		padding: 0;
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			width: 100%;
			height: auto;
		}
		&:hover {
			img {
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
			}
		}
	}
}

.sectionfour {
	text-align: center;
	padding: 80px 0 80px 0;
}

.result {
	padding: 80px 80px;
	text-align: center;
	font-size:80px;
	font-weight: 700;
	color: $pink;
}

//button

.button {
	background-color: $pink;
	@include border-radius(3px);
	color: #fff;
	font-family: 'lato', sans-serif;
	border: none;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 auto;
	&:hover {
		box-shadow: 0px 6px 12px 0px rgba(204,82,122,0.3);
	}
}

//footer

footer {
	height: 40px;
	color: $light-gray;
}

.result {
	display: none;
}
